body{
  font-family: Arial, Helvetica, sans-serif;
}

table.excel-table > tbody > tr:first-child > td {
     background-color: rgb(126, 196, 236);
     font-size: medium;
}

.table-data td, .table-header{
     text-align: center;
}
.hide{
     display:none;
}